<html lang='jp'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width">
  <meta name="twitter:card" content="summary"/>
　<meta name="twitter:site" content="@tsumabuki1453" />
　<meta property="og:url" content="https://ramenchecker.onrender.com/" />
　<meta property="og:title" content="ラーメンチェッカー" />
　<meta property="og:description" content="あなたがアップした画像をラーメンＡＩ君が次の4種類(醤油、豚骨、塩、味噌)に分類します" />
　<meta property="og:image" content="https://github.com/malkovich1453/fastai-v3/blob/master/2220439C-8E8F-4F67-B3F4-85DA341334DE.png" />
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>ラーメンチェッカー(ver.2)</div>
    <p>
      あなたがアップした画像を<strong>ラーメンＡＩ君</strong>が次の<strong>4種類</strong>に分類します。<br>
      <strong>【Shoyu・Tonkotsu・Shio・Miso】</strong>
      </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>画像を選んでね</button>
      <div class='upload-label'>
        <label id='upload-label'>何も選ばれていません</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='このラーメンですね' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>分析するよ！</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
